<a href="https://colab.research.google.com/github/mehdihasan010/Learn_ML/blob/master/BasicsML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:
y_pred = [0,2,1,3]
y_true = [0,1,2,3]

In [ ]:
accuracy_score(y_true,y_pred)

0.5

In [ ]:
accuracy_score(y_true,y_pred,normalize=False)

2

In [ ]:
data = {'Name':["rana","korim","mita","rina"],
        'Location':["Dhaka","comilla","rangpur","rajshahi"],
        'Age':[24,13,53,33]
        }

In [ ]:
frame = pd.DataFrame(data)
display(frame)

    Name  Location  Age
0   rana     Dhaka   24
1  korim   comilla   13
2   mita   rangpur   53
3   rina  rajshahi   33

In [ ]:
display(frame[frame.Age>30])

   Name  Location  Age
2  mita   rangpur   53
3  rina  rajshahi   33

In [ ]:
x = np.array([[1,2,3],[4,5,6]])
x

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
y = np.arange(10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
def my_function():
  print("hello from a function")
my_function()

hello from a function

In [ ]:
def double(x):
  return x*2
x=10
double(x)

20