In [1]:
import numpy as np
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
y_pred = [0,2,1,3]
y_true = [0,1,2,3]

In [3]:
accuracy_score(y_true,y_pred)

0.5

In [4]:
accuracy_score(y_true,y_pred,normalize=False)

2

In [5]:
data = {'Name':["rana","korim","mita","rina"],
        'Location':["Dhaka","comilla","rangpur","rajshahi"],
        'Age':[24,13,53,33]
        }

In [6]:
frame = pd.DataFrame(data)
display(frame)

    Name  Location  Age
0   rana     Dhaka   24
1  korim   comilla   13
2   mita   rangpur   53
3   rina  rajshahi   33

In [7]:
display(frame[frame.Age>30])

   Name  Location  Age
2  mita   rangpur   53
3  rina  rajshahi   33

In [8]:
x = np.array([[1,2,3],[4,5,6]])
x

array([[1, 2, 3],
       [4, 5, 6]])

In [9]:
y = np.arange(10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
def my_function():
  print("hello from a function")
my_function()

hello from a function

In [12]:
def double(x):
  return x*2
x=10
double(x)

20

In [13]:
tel = {'rafiq':4098,'mim':4139}
tel['karim']=4127
tel

{'rafiq': 4098, 'mim': 4139, 'karim': 4127}

In [14]:
tel['rafiq']

4098

In [15]:
mlbook={'data science from scratch':'joel grus','python data science handbook':'jake vanderplas'}
for k,v in mlbook.items():
  print(k,v)

data science from scratch joel grus
python data science handbook jake vanderplas

In [20]:
for k,v in mlbook.items():
  print(k,":",v)

data science from scratch : joel grus
python data science handbook : jake vanderplas